@import "tailwindcss";

/* Colores corporativos como variables CSS simples */
:root{
  --brand: #8DFF50;   /* verde */
  --ink:   #1D263B;   /* azul oscuro */
}

/* Base */
body{
  background:#ffffff;
  color:#111827; /* gray-900 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
}
